<!DOCTYPE html>
<html lang="en">

<head
        th:replace="~{layout :: style}"
></head>

<body>
<!-- Navbar Start -->
<div th:replace="~{layout :: navbar}"></div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div th:replace="~{layout :: header(text='Success')}"></div>
<!-- Page Header End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Success</h4>
            <h1 >Success Booking</h1>
<!--             <h2 th:text="${booked}" class="display-4"></h2>-->
            <div class="container text-left " >
<!--                <div class="row" style="padding-left: 20%;padding-right: 20% ;padding-top: 50px ;margin-left: 120px">-->
<!--                    <div class="col-6">-->
<!--                        <h4>Name:</h4>-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                        <h4 th:text="${booked.name}" ></h4>-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                        <h4>Phone Number:</h4>-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                        <h4 th:text="${booked.phoneNumber}" ></h4>-->
<!--                    </div> <div class="col-6">-->
<!--                    <h4>Email:</h4>-->
<!--                </div>-->
<!--                    <div class="col-6">-->
<!--                        <h4 th:text="${booked.email}" ></h4>-->
<!--                    </div> <div class="col-6">-->
<!--                    <h4>Date:</h4>-->
<!--                </div>-->
<!--                    <div class="col-6">-->
<!--                        <h4 th:text="${booked.date}" ></h4>-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                        <h4  >Time:</h4>-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                        <h4  th:text="${booked.time}">Time</h4>-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                        <h4  >Person:</h4>-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                        <h4  th:text="${booked.person}">Time</h4>-->
<!--                    </div>-->
<!--                </div>-->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone Number </th>
                        <th scope="col">Email</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Person</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><p th:text="${booked.name}" ></p></td>
                        <td><p th:text="${booked.phoneNumber}" ></p></td>
                        <td><p th:text="${booked.email}" ></p></td>
                        <td><p th:text="${booked.date}" ></p></td>
                        <td><p th:text="${booked.time}" ></p></td>
                        <td><p th:text="${booked.person}" ></p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>

            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
<!--                <div class="position-relative h-100">-->
<!--                    <img class="position-absolute w-100 h-100" th:src="@{/img/about.png}" style="object-fit: cover;">-->
<!--                </div>-->
            </div>

        </div>
    </div>
</div>
<!-- About End -->


<!-- Footer Start -->
<div th:replace="~{layout :: footer}"></div>
<!-- Footer End -->


<!-- Back to Top -->
<a th:href="@{#}" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
<div
        th:replace="~{layout :: script}"></div>
</body>

</html>